body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #500adb;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    margin-right: 20px;
}

#navbar {
    position: sticky;
    top: 0;
    background: #500adb;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav a:hover {
    color: #f40d09;
}


section {
    padding: 20px;
    margin: 20px 0;
}


.section-icon {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e579e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}


.portfolio-tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #fd0909;
}

.tab-button.active {
    background-color: #f92904;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.video {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.video img {
    width: 100%;
    height: auto;
    display: block;
}

.video h3 {
    padding: 10px;
    text-align: center;
    background: #333;
    color: white;
    margin: 0;
}

.service-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.service-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}

.service-icon {
    width: 40px;
    margin-right: 10px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 15px; 
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4500;
}

#connect {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.social-links a {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s;
}

.social-links a img {
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    transform: scale(1.1); 
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}
@media (max-width: 768px) {
    .social-links {
        flex-direction: column;
    }
}
